.About {
    display: flex;
    padding: 3%;
}

.About a {
    text-decoration: none;
}

.About hr {
    margin-left: 5%;
    margin-right: 5%;
    list-style: dotted;
}

.About-bio {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.About-bio h2 {
    margin-bottom: 2px;
    margin-left: auto;
    font-family: 'Economica', sans-serif;
    color: #4F6367;
}

.About-bio p {
    margin-bottom: 2px;
    text-align: right;
    font-family: 'Open-sans', sans-serif;
    font-size: 100%;
}

.About-image {
    float: right;
    margin-top: 7%;
    margin-left: 7%;
    height: 300px;
    border-radius: 10px;
    z-index: 10;
}

.About-image-background {
    background-color: #B8D8D8;
    border-radius: 10px;
    height: 300px;
    width: 200px;
    margin-top: 9%;
    margin-left: -28%;
    z-index: 0;
}

.About-resume {
    margin-top: 15px;
    margin-bottom: 5%;
    font-family: 'Open-sans', sans-serif;
    font-size: 14px;
    text-align: center;
}

.About-resume a {
    text-decoration: none;
}