@import url('https://fonts.googleapis.com/css2?family=Economica:wght@400;700&family=La+Belle+Aurore&family=Open+Sans:wght@300;400;600;700&display=swap');

p a {
    color: #7A9E9F;
}

p a:hover {
    color: #4F6367;
}

body {
    background-color: #eaeaea;
}