@import url('https://fonts.googleapis.com/css2?family=Economica:wght@400;700&family=La+Belle+Aurore&family=Open+Sans:wght@300;400;600;700&display=swap');

p a {
    color: #7A9E9F;
}

p a:hover {
    color: #4F6367;
}

body {
    background-color: #eaeaea;
}

@media screen and (max-width: 599px) {
    .App-nav-hamburger {
        margin-left: auto;
        margin-right: 1%;
        margin-bottom: -4px;
    }
}

@media screen and (min-width: 600px) {
    .App-nav-hamburger {
        display: none;
    }
}