.Blog {
    margin-left: 5%;
    margin-right: 5%;
}

.Blog h1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-family: 'Economica', sans-serif;
    color: #4F6367;
}

.Blog h2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-family: 'Economica', sans-serif;
    color: #4F6367;
}

.Blog h3 {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
    margin-bottom: 2px;
    font-family: 'Economica', sans-serif;
    color: #4F6367;
}

@media screen and (max-width: 600px) {
    .Blog-page-content {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 600px) {
    .Blog-page-content {
        display: flex;
        flex-wrap: nowrap;
    }
}

.Blog-loading h1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-family: 'Economica', sans-serif;
    color: #4F6367;
}

.Blog-loading p {
    text-align: center;
    font-family: 'Open-sans', sans-serif;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .Blog-no-posts {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .Blog-no-posts {
        width: 80%;
    }
}

.Blog-no-posts p {
    text-align: center;
    font-family: 'Open-sans', sans-serif;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .Blog-posts {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .Blog-posts {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .Blog-tags {
        width: 100%;
        min-height: 200px;
        padding-top: 15px;
        border-top: 1px solid;
        border-color: #4F6367;
        text-align: center;
    }
}

@media screen and (min-width: 600px) {
    .Blog-tags {
        min-height: 200px;
        padding-left: 25px;
        border-left: 1px solid;
        border-color: #4F6367;
    }
}