@media screen and (max-width: 600px) {
    .AboutTimeline {
        display: none;
    }
}

.AboutTimeline {
    margin-left: 10%;
    margin-right: 10%;
}

.AboutTimeline h2 {
    font-family: 'Economica', sans-serif;
    color: #4F6367;
    text-align: center;
}

.AboutTimeline h3 {
    margin-bottom: 0px;
    font-family: 'Economica', sans-serif;
    font-size: 18px;
    color: #4F6367;
    text-align: center;
}

.AboutTimeline h4 {
    margin-top: -20px;
    margin-bottom: 0px;
    font-family: 'Economica', sans-serif;
    font-size: 18px;
    color: #4F6367;
}

.AboutTimeline h5 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: 'Open-sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #7A9E9F;
    text-transform: uppercase;
}

.AboutTimeline-right {
    margin-left: auto;
    text-align: right;
}

.AboutTimeline-line {
    height: 30px;
    width: 50%;
    border-right: 2px dotted #FE5F55;
}
