.Header {
    display: flex;
}

.Header-block {
    text-align: right;
    margin-top: 0px;
    margin-left: -92%;
    margin-right: 5%;
    padding: 2% 1%;
    background-color: hsl(82, 39%, 30%, .7);
    height: 20%;
    z-index: 10;
}

.Header-text {
    padding-right: 4%;
}

.Header-text h1 {
    font-size: 30px;
    color: white;
}

.Header-text h3 {
    font-size: 18px;
    color: white;
}

.Header p {
    text-transform: uppercase;
    color: white;
}

.Header-image img {
    width: 60%;
    margin-top: 15px;
    margin-left: 3%;
    border-radius: 10px;
    z-index: 0;
}

.Header-nav button {
    margin: 1% 2%;
    width: 135px;
    height: 50px;
    background-color: hsl(82, 39%, 30%);
    color: white;
    font-size: 12px;
    border: 0px;
    transition: .3s;
}

.Header-nav button:hover {
    cursor: pointer;
    background-color: darkgreen;
}