.Nav {
    display: flex;
    align-items: flex-end;
    height: 40px;
}

.Nav a {
    text-decoration: none;
    padding: 0% 2%;
}

.Nav-home {
    font-size: 20px;
    margin-right: 10px;
}

.Nav-right {
    font-size: 16px;
}

.Nav-right a.active {
    font-weight: bold;
}

.Nav-social {
    margin-left: auto;
    padding: 0px 10px;
}