.ProjectButton h4 {
    margin-top: 3%;
    margin-bottom: -5px;
    font-family: 'Economica', sans-serif;
    font-size: 20px;
    color: #4F6367;
}

.ProjectButton a {
    margin-top: -5px;
    font-family: 'Economica', sans-serif;
    color: #7A9E9F;
    text-decoration: none;
    background-color: #eaeaea;
}

.ProjectButton hr {
    width: 150px;
}

.ProjectButton-button {
    padding: 3%;
    width: 175px;
    height: 25px;
}

.ProjectButton-button:hover {
    cursor: pointer;
    background-color: #dcdcdc;
}