.SocialIcons {
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    color: #7A9E9F;
}

.SocialIcons a {
    color: #7A9E9F;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.SocialIcons a:hover {
    color: #4F6367;
    cursor: pointer;
}