@media screen and (max-width: 600px) {
    .TagList {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
    } 
}

.TagList-item {
    margin: 5px 0px;
    font-family: 'Economica', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left; 
}
.TagList-item a {
    color: #FE5F55;
    text-decoration: none;
}
.TagList-item a:hover {
    color: #4F6367;
}